<div class="hero_post">
  <% @posts.each do |post| %>
  <div class="label">
    <h2><%= post.name %></h2>
    <p><%=post.adress %></p>
  </div>
  <% end %>
</div>
<hr>
<div class="recents">
  <h3>Most Recent Bites</h3>
  <div class="cafe_recent">
    <div class="img_box">
    </div>
    <div class="cafe_title">
      <h4>North Bondi Fish</h4>
      <p>North Bondi | NSW</p>
    </div>
  </div>
    <div class="cafe_recent">
      <div class="img_box">
      </div>
      <div class="cafe_title">
        <h4>North Bondi Fish</h4>
        <p>North Bondi | NSW</p>
      </div>
    </div>
      <div class="cafe_recent">
        <div class="img_box">
        </div>
        <div class="cafe_title">
          <h4>North Bondi Fish</h4>
          <p>North Bondi | NSW</p>
        </div>
      </div>
      <div class="cafe_recent">
        <div class="img_box">
        </div>
        <div class="cafe_title">
          <h4>North Bondi Fish</h4>
          <p>North Bondi | NSW</p>
        </div>
      </div>
  </div>
  <div class="popular">
    <h3>Popular Bites</h3>
    <div class="popular_cafe">
      <div class="img_box_popular">
        <div class="label_popular">
          <h4>Fish Bowl</h4>
        </div>
      </div>
    </div>
    <div class="popular_cafe">
      <div class="img_box_popular">
        <div class="label_popular">
          <h4>Fish Bowl</h4>
        </div>
      </div>
    </div>
    <div class="popular_cafe">
      <div class="img_box_popular">
        <div class="label_popular">
          <h4>Fish Bowl</h4>
        </div>
      </div>
    </div>
    <div class="popular_cafe">
      <div class="img_box_popular">
        <div class="label_popular">
          <h4>Fish Bowl</h4>
        </div>
      </div>
    </div>
  </div>
