<div class="about_content">
  <h1>Whats Cherry Bites?</h1>
  <p class="about_text">Cherry Bites started while we were doing what we love to do! Relax at a spectacular cafe/resturant thinking why dont we share our experiences with the world so they too can gain their own grand experiences.</p>
</div>
